<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Desencriptar</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'desencriptar.css' %}">
</head>
<body>
    <div class="header">
        <h1>Desencriptar</h1>
    </div>
    <br><br>

    <div class="dec {% if resultado %}expanded{% endif %}" id="decCard">
        <form method="POST" action="{% url 'descrypt' %}">
            {% csrf_token %}
            <h2>Digite o primo original P:</h2>
            <input type="number" placeholder="Digite P" name="dec_p" required>
            <br>
            <h2>Digite o primo original Q:</h2>
            <input type="number" placeholder="Digite Q" name="dec_q" required>
            <br>
            <h2>Digite o expoente original E:</h2>
            <input type="number" placeholder="Digite E" name="dec_e" required>
            <br>
            <input type="submit" value="Desencriptar">
        </form>

        {% if erro %}
            <p class="erro">{{ erro }}</p>
        {% endif %}

        {% if resultado %}
        <div class="resultado visivel">
            <div class="resultado-box">
                <div class="label">Mensagem desencriptada:</div>
                <div class="chave-valor">{{ resultado }}</div>
                <a class="botao_volta" href="{% url 'index' %}">⬅ Voltar à página inicial</a>
            </div>
        </div>
        {% else %}
        <div class="resultado" id="dec-resultado">
            <div class="resultado-box">
                <div class="label">Mensagem desencriptada:</div>
                <div class="chave-valor"></div>
                <a class="botao_volta" href="{% url 'index' %}">⬅ Voltar à página inicial</a>
            </div>
        </div>
        {% endif %}
    </div>
</body>
</html>
