<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chave Pública</title>
    <link rel="stylesheet" href="../static/chavepublica.css">
</head>
<script>
    

</script>
<body>
    <div class="header">
        <h1>Chave Pública</h1>
    </div>
    <br>
    <br>
    <div class="chave" id="chaveCard">
        <h2>Digite primo P</h2>
        <input type="number" placeholder="Número primo p" id="p" name="p" required>
        <br>
        <h2>Digite primo Q</h2>
        <input type="number" placeholder="Número primo q" id="q" name="q" required>
        <br>
        <h2>Digite expoente E</h2>
        <input type="number" placeholder="coprimo com φ(n)" id="e" name="e" required>
        <br>
        <input type="submit" value="Gerar Chave Pública">
        <p class="erro" id="erro"></p>
        
        <div class="resultado" id="resultado">
            <div class="resultado-box">
                <div class="label">Chave pública gerada:</div>
                <div class="chave-valor" id="chaveValor"></div>
                <a class="botao_volta" href="/homepage.html">⬅ Voltar à pagina inicial</a>
            </div>
        </div>
    </div>



</body>
</html>